<!DOCTYPE html>
<html>
	<head>
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.0/jquery.min.js"></script>
		<script type="text/javascript" language="javascript" src="https://cdnjs.cloudflare.com/ajax/libs/p5.js/0.5.8/p5.js"></script>
		<script type="text/javascript" language="javascript" src="https://cdnjs.cloudflare.com/ajax/libs/p5.js/0.5.8/addons/p5.dom.js"></script>
		<script type="text/javascript" language="javascript" src="simAnnealing.js"></script>
		<style> 
			body {padding: 0px; margin: 0px;} 
			#length, #cities, #calc, #temp {
				color: rgb(230, 230, 230);
				font-size: 15px;
				font-family: Lucida Console;
			}
			#container {
				margin: 10px;
				background-color: rgba(0, 0, 0, 0.5);
				width: 300px;
				padding: 5px;
			}
		</style>
	</head>
	<body>
		<div id="container">
			<span id="cities">Cities: </span><input type="text" id="city" placeholder="100" size="3"><br>
			<span id="length">Path Distance: </span><br>
			<span id="calc">Calculations per frame: </span><input type="text" id="calculations" placeholder="30" size="3"><br>
			<span id="temp">Temperature: 100.0</span>
		</div>
	</body>

</html>