<html>
  <head>
    <title>Melodic Markov Chain | Projects | castleman.space</title>
    <link href="/projects/projects.css" type="text/css" rel="stylesheet">
  </head>
  <body>
    <div class="container-left">
      <a href="/">Home</a>
      <h2 class="title">Markov Chain applied to Melodic Composition</h2>
      <h3 class="subtitle"><i>2017</i></h3>

      <iframe width="600" height="396" src="https://www.youtube.com/embed/RUCuv3brSZ4" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
      <p>This is another piece of software designed to integrate music and computation, this time 
        using a model known as a Markov Chain to compose melodies based on live training data.</p>

      <p>The source is available <a href="https://github.com/thomascastleman/midi-markov-composition" target="_blank">here.</a></p>
    </div>
  </body>
</html>