<!DOCTYPE html>

<html>
	<head>
		<title>Sorting Visualizations | castleman.space</title>
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
		<script type="text/javascript" language="javascript" src="https://cdnjs.cloudflare.com/ajax/libs/p5.js/0.5.8/p5.js"></script>
		<script type="text/javascript" language="javascript" src="https://cdnjs.cloudflare.com/ajax/libs/p5.js/0.5.8/addons/p5.dom.js"></script>

		<script type="text/javascript" language="javascript" src="radix.js"></script>
		<script type="text/javascript" language="javascript" src="bogosort.js"></script>
		<script type="text/javascript" language="javascript" src="quicksort.js"></script>
		<script type="text/javascript" language="javascript" src="altquicksort.js"></script>
		<script type="text/javascript" language="javascript" src="insertion.js"></script>
		<script type="text/javascript" language="javascript" src="cocktail.js"></script>
		<script type="text/javascript" language="javascript" src="mergesort.js"></script>
		<script type="text/javascript" language="javascript" src="combsort.js"></script>
		<script type="text/javascript" language="javascript" src="gravity.js"></script>

		<script type="text/javascript" language="javascript" src="visualizationAndTools.js"></script>

		<!-- favicons -->
		<link rel="apple-touch-icon" sizes="180x180" href="/favicons/apple-touch-icon.png">
		<link rel="icon" type="image/png" sizes="32x32" href="/favicons/favicon-32x32.png">
		<link rel="icon" type="image/png" sizes="16x16" href="/favicons/favicon-16x16.png">
		<link rel="manifest" href="/favicons/site.webmanifest">
		<link rel="mask-icon" href="/favicons/safari-pinned-tab.svg" color="#5bbad5">
		<link rel="shortcut icon" href="/favicons/favicon.ico">
		<meta name="msapplication-TileColor" content="#da532c">
		<meta name="msapplication-config" content="/favicons/browserconfig.xml">
		<meta name="theme-color" content="#ffffff">

		<link rel="stylesheet" type="text/css" href="stylesheet.css">

		<style> body {padding: 0; margin: 0;} </style>
		
	</head>

	<body>

		<div id="inputdiv">
			Array Size <input id="arrSize" type="text" placeholder="200"><br>
			Delay (ms) <input id="delay" type="text" placeholder="50"><br>
		</div>


		<div id="container">
			<button id="radix">Radix Sort</button><br>
			<button id="quicksort">QuickSort</button><br>
			<button id="mergesort">Merge Sort</button><br>
			<button id="insertionsort">Insertion Sort</button><br>
			<button id="combsort">Comb Sort</button><br>
			<button id="cocktailsort">Cocktail Shaker Sort</button><br>
			<button id="gravitysort">Gravity Sort</button><br>

			<br><span id="sortName"></span>
		</div>

	</body>

</html>