<html>
  <head>
    <title>Live MIDI Visualizer | Projects | castleman.space</title>
    <link href="/projects/projects.css" type="text/css" rel="stylesheet">
  </head>
  <body>
    <div class="container-left">
      <h1>Live Music Visualizer<span class="date"> (2018)</span></h1>
      <iframe width="600" height="396" src="https://www.youtube.com/embed/HsaM2_T5feE" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
      <p>In November of 2018, I was involved in a 3-week long course focused on technology, 
        music, and visual art, during which I created this piece of software, which is capable 
        of translating input from an electronic musical instrument into a visual display of colors 
        and shapes. The project took shape over several days and I documented my progress 
        through video clips which I have pieced together for your viewing. In the final clip, 
        I play Debussy's <i>Clair de Lune</i> visualized with one of my favorite configurations.</p>
    </div>
  </body>
</html>