<html>
  <head>
    <title>Live MIDI Visualizer | Projects | castleman.space</title>
    <link href="/projects/projects.css" type="text/css" rel="stylesheet">
  </head>
  <body>
    <div class="container-left">
      <a href="/">Home</a>
      <h2 class="title">Live Music Visualizer</h2>
      <h3 class="subtitle"><i>2018</i></h3>

      <iframe width="600" height="396" src="https://www.youtube.com/embed/HsaM2_T5feE" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
      <p>In November of 2018, I was involved in a 3-week long course focused on technology, 
        music, and visual art, during which I created this software, which translates 
        input from a MIDI instrument into a visual display of colors 
        and shapes.</p>
        
      <p>The project took shape over several days and I documented my progress 
        through video clips which I have pieced together in the above compilation. In the final clip, 
        I play Debussy's <i>Clair de Lune</i> visualized with one of my favorite configurations.</p>

      <p>The source is available <a href="https://github.com/thomascastleman/midi-visualizer-framework" target="_blank">here.</a></p>
    </div>
  </body>
</html>