<html>
  <head>
    <title>StabOverflow | Projects | castleman.space</title>
    <link href="/projects/projects.css" type="text/css" rel="stylesheet">
  </head>
  <body>
    <div class="container-left">
      <h1>StabOverflow<span class="date"> (2018)</span></h1>
      <img width="85%" src="/projects/assets/overflow.png">
      <p>In August of 2018, I deployed 
        <a href="https://github.com/thomascastleman/StabOverflow" target="_blank">StabOverflow</a>, 
        an online Q&amp;A forum for CS students at St. Anne's-Belfield. Modeled after the widely-used 
        Stack Overflow, StabOverflow allows students to ask questions, make comments, and respond 
        with answers to CS-related problems. The idea was to facilitate interaction between members 
        of the CS department across class / grade levels, and to construct, over time, a cumulative 
        resource for all CS students to reference.</p>
      <p>The live application can be found at 
        <a href="http://overflow.cs.stab.org/" target="_blank">overflow.cs.stab.org</a></p>
    </div>
  </body>
</html>