<html>
<head>
  <meta charset="UTF-8">
  <title>Langton's Ant | castleman.space</title>
  <script language="javascript" type="text/javascript" src="anyLangton.js"></script>
  <script type="text/javascript" language="javascript" src="https://cdnjs.cloudflare.com/ajax/libs/p5.js/0.5.8/p5.js"></script>
  <script type="text/javascript" language="javascript" src="https://cdnjs.cloudflare.com/ajax/libs/p5.js/0.5.8/addons/p5.dom.js"></script>
  <link rel="stylesheet" type="text/css" href="langtonstyle.css">

  <!-- favicons -->
  <link rel="apple-touch-icon" sizes="180x180" href="/favicons/apple-touch-icon.png">
  <link rel="icon" type="image/png" sizes="32x32" href="/favicons/favicon-32x32.png">
  <link rel="icon" type="image/png" sizes="16x16" href="/favicons/favicon-16x16.png">
  <link rel="manifest" href="/favicons/site.webmanifest">
  <link rel="mask-icon" href="/favicons/safari-pinned-tab.svg" color="#5bbad5">
  <link rel="shortcut icon" href="/favicons/favicon.ico">
  <meta name="msapplication-TileColor" content="#da532c">
  <meta name="msapplication-config" content="/favicons/browserconfig.xml">
  <meta name="theme-color" content="#ffffff">

  <style> 
  	body {padding: 0; margin: 0;} 
  </style>
</head>
<body>
	<div>
	    <div id="div2">
			<div id="div1">Pattern: <input type="text" value="" onchange="getInput(this.value); setup();"/></div>
	    		<div id="div1"><input type="range" min="1" max="1000" value="50" onchange="getSpeed(this.value);"/></div>
	    </div>
	</div>
    
    <div id="div3">
    <p><strong>Spicy Patterns:</strong><br>LLRR<br>RLLR<br>LRRRRRLLR<br>LLRRRLRLRLLR<br>RRLLLRLLLRRR<br>LLRRRLRRRRRRRR<br>RLLLLRRRLLLR</p>
    </div>

</body>
</html>