<!DOCTYPE html>
<html>
	<head>
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.0/jquery.min.js"></script>
		<script type="text/javascript" language="javascript" src="https://cdnjs.cloudflare.com/ajax/libs/p5.js/0.5.8/p5.js"></script>
		<script type="text/javascript" language="javascript" src="https://cdnjs.cloudflare.com/ajax/libs/p5.js/0.5.8/addons/p5.dom.js"></script>
		<script type="text/javascript" language="javascript" src="model.js"></script>
		<link rel="stylesheet" type="text/css" href="style.css">
		<style> body {padding: 0px; margin: 0px} </style>
	</head>
	<body>


		<div id="container">
			Enter Network Specs: <input id="params" type="text"><br>
			<button id="generate">Generate Model</button>
			<button id="color">Color</button>
		</div>


	</body>
</html>