
body {
  margin: 0px;
  padding: 0px;
  font-size: 15px;
  line-height: normal;
}

h1 {
  font-size: 24pt;
}
h2 {
  font-size: 18pt;
}
h3 {
  font-size: 15pt;
}

.container-left {
  width: 700px;
  padding-left: 100px;
  padding-top: 70px;
  padding-right: 15px;
  padding-bottom: 100px;
  border-right: 1px solid #bfbfbf;
}

.container-right {
  position: absolute;
  /* left: 46em; */
  left: 720px;
  top: 40px;
  width: 300px;
}

h2 {
  margin-bottom: 10px;
}

.section {
  margin-bottom: 45px;
  border-top: 1px solid #bfbfbf;
}

.subsection {
  margin-bottom: 40px;
}

.section h2 {
  margin-top: 10px;
}

ul li p {
  margin-bottom: 5px;
}

ul.projects-list {
  list-style-type: none;
}

ul.projects-list > li {
  margin-bottom: 15px;
}

.project-link {
  margin-top: 5px;
  margin-bottom: 0px;
}

.project-descrip {
  color: #333333;
  font-size: 15px;
  margin-top: 3px;
  margin-bottom: 5px;
}

.img-caption {
  margin-top: 10px;
}