<!DOCTYPE html>
<html>
	<head>	
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.0/jquery.min.js"></script>
		<script type="text/javascript" language="javascript" src="https://cdnjs.cloudflare.com/ajax/libs/p5.js/0.5.8/p5.js"></script>
		<script type="text/javascript" language="javascript" src="https://cdnjs.cloudflare.com/ajax/libs/p5.js/0.5.8/addons/p5.dom.js"></script>
		<script type="text/javascript" language="javascript" src="pascal.js"></script>
		<script type="text/javascript" language="javascript" src="input.js"></script>

		<style>
			body {	
				font-family: verdana;
				line-height: 175%;
				color: white;
				font-size: 14px;
			}
			button {
				color: white;
				font-size: 14px;
				background-color: rgb(70, 70, 70);
				border: none;
				margin: 5px;
				width: 100px;
				height: 30px;
			}
			input {
				
			}
		</style>
	</head>
	<body>
		<button id="run">Generate</button><br>
		<button id="txt">Show Values</button><br>
		Seed: <input type="text" id="seed" size="3"><br>
		Mod: <input type="text" id="mod" size="3"><br>
		Layers: <input type="text" id="layers" size="3"><br>

	</body>
</html>