<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>Welcome! | castleman.space</title>
		<link href="https://fonts.googleapis.com/css?family=Ubuntu" rel="stylesheet"> 
		<link rel="stylesheet" type="text/css" href="homepage/style.css">
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.0/jquery.min.js"></script>
		<script type="text/javascript" language="javascript" src="https://cdnjs.cloudflare.com/ajax/libs/p5.js/0.5.8/p5.js"></script>
		<script type="text/javascript" language="javascript" src="https://cdnjs.cloudflare.com/ajax/libs/p5.js/0.5.8/addons/p5.dom.js"></script>
		<script type="text/javascript" language="javascript" src="homepage/jquery.js"></script>
		<script type="text/javascript" language="javascript" src="homepage/homeSketch.js"></script>

		<!-- favicons -->
		<link rel="apple-touch-icon" sizes="180x180" href="/favicons/apple-touch-icon.png">
		<link rel="icon" type="image/png" sizes="32x32" href="/favicons/favicon-32x32.png">
		<link rel="icon" type="image/png" sizes="16x16" href="/favicons/favicon-16x16.png">
		<link rel="manifest" href="/favicons/site.webmanifest">
		<link rel="mask-icon" href="/favicons/safari-pinned-tab.svg" color="#5bbad5">
		<link rel="shortcut icon" href="/favicons/favicon.ico">
		<meta name="msapplication-TileColor" content="#da532c">
		<meta name="msapplication-config" content="/favicons/browserconfig.xml">
		<meta name="theme-color" content="#ffffff">
	</head>
	<body>

		<nav>
		    <ul>
		        <li class="dropdown">
		        	<span class="dropdownhead">Visual Art</span>
		        	<ul class="sub-menu">
		                <li><a href="/bouncingball" target="_blank">
		                	<span class="ddelement">Bouncing Ball</span>
		                </a></li>

		                <li><a href="/rectree" target="_blank">
		                	<span class="ddelement">Recursive Tree</span>
		                </a></li>

		                <li><a href="/web" target="_blank">
		                	<span class="ddelement">Ball Web</span>
		                </a></li>

		                <li><a href="/ballgrid" target="_blank">
		                	<span class="ddelement">Ball Grid</span>
		                </a></li>

		                <li><a href="/nnmodel" target="_blank">
		                	<span class="ddelement">Neural Network Model</span>
		                </a></li>
		                
		                <li><a href="/koch" target="_blank">
		                	<span class="ddelement">Koch Snowflake</span>
		                </a></li>
		                
		                <li><a href="/otherweb" target="_blank">
		                	<span class="ddelement">Web Graphic</span>
		                </a></li>
		            </ul>
		        </li>

		        <li class="dropdown">
		        	<span class="dropdownhead">Problems</span>
		        	<ul class="sub-menu">
		                <li><a href="tspSA" target="_blank">
		                	<span class="ddelement">Traveling Salesman Problem (Simulated Annealing)</span>
		                </a></li>

		                <li><a href="/polygons" target="_blank">
		                	<span class="ddelement">Polygon Probability Problem</span>
		                </a></li>

		                <li><a href="/josephus" target="_blank">
		                	<span class="ddelement">Josephus Problem</span>
		                </a></li>

		                <li><a href="/nqueens" target="_blank">
		                	<span class="ddelement">N Queens Problem</span>
		                </a></li>
		            </ul>
		        </li>

		        <li class="dropdown">
		            <span class="dropdownhead">Pathfinding</span>
		            <ul class="sub-menu">

		            <li><a href="/a*" target="_blank">
		                	<span class="ddelement">A* Pathfinding</span>
		                </a></li>

		                <li><a href="/maze" target="_blank">
		                	<span class="ddelement">Maze Generation</span>
		                </a></li>

		                <li><a href="/dfs" target="_blank">
		                	<span class="ddelement">DFS Maze</span>
		                </a></li>
		            </ul>
		        </li>

		        <li class="dropdown">
		        	<span class="dropdownhead">Games</span>
		        	<ul class="sub-menu">
		                <li><a href="/hanoi" target="_blank">
		                	<span class="ddelement">Tower of Hanoi</span>
		                </a></li>

		                <li><a href="/chaos" target="_blank">
		                	<span class="ddelement">Chaos Game</span>
		                </a></li>
		            </ul>
		        </li>

		        <li class="dropdown">
		        	<span class="dropdownhead">Cellular Automata</span>
		        	<ul class="sub-menu">
		                <li><a href="/conways" target="_blank">
		                	<span class="ddelement">Conway's Game of Life</span>
		                </a></li>

		                <li><a href="/langtons" target="_blank">
		                	<span class="ddelement">Langton's Ant</span>
		                </a></li>

		                <li><a href="/wolfram" target="_blank">
		                	<span class="ddelement">Wolfram's Elementary CA</span>
		                </a></li>
		            </ul>
		        </li>

		        <li class="dropdown">
		        	<span class="dropdownhead">Visualizations</span>
		        	<ul class="sub-menu">
		        		<li><a href="/timestable" target="_blank">
		                	<span class="ddelement">Multiplication Tables</span>
		                </a></li>

		                <li><a href="/sorting" target="_blank">
		                	<span class="ddelement">Sorting Visualization</span>
		                </a></li>

		                <li><a href="/pascal" target="_blank">
		                	<span class="ddelement">Pascal's Triangle</span>
		                </a></li>

		                <li><a href="/integrals" target="_blank">
		                	<span class="ddelement">Integration</span>
		                </a></li>

		                <li><a href="/lrflakes" target="_blank">
		                	<span class="ddelement">LR Flakes</span>
		                </a></li>
		            </ul>
		        </li>

		        <li class="dropdown">
		        	<span class="dropdownhead">Humor</span>
		        	<ul class="sub-menu">
		        		<li><a href="/snowmandab" target="_blank">
		                	<span class="ddelement">Dabbing Snowman</span>
		                </a></li>

		                <li><a href="/rickclicker" target="_blank">
		                	<span class="ddelement">Click Rick</span>
		                </a></li>

		                <li><a href="/cumberbatch" target="_blank">
		                	<span class="ddelement">Benedict Cumberbatch</span>
		                </a></li>
		            </ul>
		        </li>

		        <li class="dropdown">
		        	<span class="dropdownhead">Other</span>
		        	<ul class="sub-menu">
		                <li><a href="/particles" target="_blank">
		                	<span class="ddelement">Particle Sim</span>
		                </a></li>

		                <li><a href="/stringGA" target="_blank">
		                	<span class="ddelement">String Generation Genetic Algorithm</span>
		                </a></li>

		                <li><a href="/binarypowersets" target="_blank">
		                	<span class="ddelement">Power Set Generation</span>
		                </a></li>
		                
		                <li><a href="/ocr" target="_blank">
		                	<span class="ddelement">Handwritten Digit Recognition</span>
		                </a></li>
		            </ul>
		        </li>

		        <li class="dropdown">
		        	<a href="/portfolio" target="_blank"><span class="dropdownhead">About Me</span></a>
		        </li>


		    </ul>
		</nav>


	</body>
</html>