<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>Welcome! | castleman.space</title>
    <link href="https://fonts.googleapis.com/css?family=Ubuntu" rel="stylesheet"> 
    <link rel="stylesheet" type="text/css" href="homepage/nav-style.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.0/jquery.min.js"></script>
    <script type="text/javascript" language="javascript" src="https://cdnjs.cloudflare.com/ajax/libs/p5.js/0.5.8/p5.js"></script>
    <script type="text/javascript" language="javascript" src="https://cdnjs.cloudflare.com/ajax/libs/p5.js/0.5.8/addons/p5.dom.js"></script>
    <script type="text/javascript" language="javascript" src="homepage/jquery.js"></script>
    <script type="text/javascript" language="javascript" src="homepage/homeSketch.js"></script>

    <!-- favicons -->
    <link rel="apple-touch-icon" sizes="180x180" href="/favicons/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/favicons/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/favicons/favicon-16x16.png">
    <link rel="manifest" href="/favicons/site.webmanifest">
    <link rel="mask-icon" href="/favicons/safari-pinned-tab.svg" color="#5bbad5">
    <link rel="shortcut icon" href="/favicons/favicon.ico">
    <meta name="msapplication-TileColor" content="#da532c">
    <meta name="msapplication-config" content="/favicons/browserconfig.xml">
    <meta name="theme-color" content="#ffffff">
  </head>
  <body>
    <nav>
        <ul>
            <li class="dropdown">
              <span class="dropdownhead">Visual Art</span>
              <ul class="sub-menu">
                    <a href="/bouncingball" target="_blank">
                      <li>
                        <span class="ddelement">Bouncing Ball</span>
                      </li>
                    </a>

                    <a href="/rectree" target="_blank">
                      <li>
                        <span class="ddelement">Recursive Tree</span>
                      </li>
                    </a>

                    <a href="/web" target="_blank">
                      <li>
                        <span class="ddelement">Ball Web</span>
                      </li>
                    </a>

                    <a href="/ballgrid" target="_blank">
                      <li>
                        <span class="ddelement">Ball Grid</span>
                      </li>
                    </a>

                    <a href="/nnmodel" target="_blank">
                      <li>
                        <span class="ddelement">Neural Network Model</span>
                      </li>
                    </a>
                    
                    <a href="/koch" target="_blank">
                      <li>
                        <span class="ddelement">Koch Snowflake</span>
                      </li>
                    </a>
                    
                    <a href="/otherweb" target="_blank">
                      <li>
                        <span class="ddelement">Web Graphic</span>
                      </li>
                    </a>
                </ul>
            </li>

            <li class="dropdown">
              <span class="dropdownhead">Problems</span>
              <ul class="sub-menu">
                    <a href="tspSA" target="_blank">
                      <li>
                        <span class="ddelement">Traveling Salesman Problem (Simulated Annealing)</span>
                      </li>
                    </a>
            
                    <a href="/polygons" target="_blank">
                      <li>
                        <span class="ddelement">Polygon Probability Problem</span>
                      </li>
                    </a>

                    <a href="/josephus" target="_blank">
                      <li>
                        <span class="ddelement">Josephus Problem</span>
                      </li>
                    </a>

                    <a href="/nqueens" target="_blank">
                      <li>
                        <span class="ddelement">N Queens Problem</span>
                      </li>
                    </a>
                </ul>
            </li>

            <li class="dropdown">
                <span class="dropdownhead">Pathfinding</span>
                <ul class="sub-menu">
                  <a href="/a*" target="_blank">
                    <li>
                      <span class="ddelement">A* Pathfinding</span>
                    </li>
                  </a>

                  <a href="/maze" target="_blank">
                    <li>
                      <span class="ddelement">Maze Generation</span>
                    </li>
                  </a>

                  <a href="/dfs" target="_blank">
                    <li>
                      <span class="ddelement">DFS Maze</span>
                    </li>
                  </a>
                </ul>
            </li>

            <li class="dropdown">
              <span class="dropdownhead">Games</span>
              <ul class="sub-menu">
                    <a href="/hanoi" target="_blank">
                      <li>
                        <span class="ddelement">Tower of Hanoi</span>
                      </li>
                    </a>

                    <a href="/chaos" target="_blank">
                      <li>
                        <span class="ddelement">Chaos Game</span>
                      </li>
                    </a>
                </ul>
            </li>

            <li class="dropdown">
              <span class="dropdownhead">Cellular Automata</span>
              <ul class="sub-menu">
                <a href="/conways" target="_blank">
                  <li>
                    <span class="ddelement">Conway's Game of Life</span>
                  </li>
                </a>

                <a href="/langtons" target="_blank">
                  <li>
                    <span class="ddelement">Langton's Ant</span>
                  </li>
                </a>

                <a href="/wolfram" target="_blank">
                  <li>
                    <span class="ddelement">Wolfram's Elementary CA</span>
                  </li>
                </a>
              </ul>
            </li>

            <li class="dropdown">
              <span class="dropdownhead">Visualizations</span>
              <ul class="sub-menu">
                <a href="/timestable" target="_blank">
                  <li>
                    <span class="ddelement">Multiplication Tables</span>
                  </li>
                </a>

                <a href="/sorting" target="_blank">
                  <li>
                    <span class="ddelement">Sorting Visualization</span>
                  </li>
                </a>

                <a href="/pascal" target="_blank">
                  <li>
                    <span class="ddelement">Pascal's Triangle</span>
                  </li>
                </a>

                <a href="/integrals" target="_blank">
                  <li>
                    <span class="ddelement">Integration</span>
                  </li>
                </a>

                <a href="/lrflakes" target="_blank">
                  <li>
                    <span class="ddelement">LR Flakes</span>
                  </li>
                </a>
              </ul>
            </li>

            <li class="dropdown">
              <span class="dropdownhead">Humor</span>
              <ul class="sub-menu">
                <a href="/snowmandab" target="_blank">
                  <li>
                    <span class="ddelement">Dabbing Snowman</span>
                  </li>
                </a>

                <a href="/rickclicker" target="_blank">
                  <li>
                    <span class="ddelement">Click Rick</span>
                  </li>
                </a>

                <a href="/cumberbatch" target="_blank">
                  <li>
                    <span class="ddelement">Benedict Cumberbatch</span>
                  </li>
                </a>
              </ul>
            </li>

            <li class="dropdown">
              <span class="dropdownhead">Other</span>
              <ul class="sub-menu">
                <a href="/particles" target="_blank">
                  <li>
                    <span class="ddelement">Particle Sim</span>
                  </li>
                </a>

                <a href="/stringGA" target="_blank">
                  <li>
                    <span class="ddelement">String Generation Genetic Algorithm</span>
                  </li>
                </a>

                <a href="/binarypowersets" target="_blank">
                  <li>
                    <span class="ddelement">Power Set Generation</span>
                  </li>
                </a>
                
                <a href="/ocr" target="_blank">
                  <li>
                    <span class="ddelement">Handwritten Digit Recognition</span>
                  </li>
                </a>
              </ul>
            </li>

            <a href="/portfolio" target="_blank">
              <li class="dropdown">
                <span class="dropdownhead">About Me</span>
              </li>
            </a>
            
        </ul>
    </nav>
  </body>
</html>