
body {
  margin: 0px;
  padding: 0px;
}

* {
  font-family: 'Times New Roman', sans-serif;
}

.container-left {
  width: 600px;
  padding-left: 100px;
  padding-top: 40px;
  padding-right: 15px;
  padding-bottom: 100px;
  border-right: 1px solid #bfbfbf;
}

.container-right {
  position: absolute;
  left: 46em;
  top: 40px;
  width: 300px;
}

h2 {
  margin-bottom: 10px;
}

.section {
  margin-bottom: 45px;
  border-top: 1px solid #bfbfbf;
}

.subsection {
  /* border-top: 1px solid #bfbfbf; */
  margin-bottom: 40px;
}

.section h2 {
  margin-top: 10px;
}

ul.projects-list {
  list-style-type: none;
}

ul.projects-list > li {
  margin-bottom: 15px;
}

ul.projects-list > li > p {
  margin-top: 5px;
  margin-bottom: 5px;
}

.project-descrip {
  color: #333333;
  font-size: 15px;
}

/* taken from https://jpolitz.github.io/ */
a {
  text-decoration: none;
  color: #0099ff;
  border-bottom: 1px dotted;
}

a:hover {
  text-decoration: none;
  color:#4db8ff; 
  background-color:#f2f2f2;
}