
@import 'https://fonts.googleapis.com/css?family=PT+Sans';

body {
	color: white;
	/*background-color: rgb(10, 10, 10);*/
	font-family: 'Ubuntu', sans-serif;
	/*font-family: 'PT Sans', sans-serif;*/
	margin: 0px;
}

.greeting {
	text-shadow: #000000 2px 0 10px;
}

span.ddelement {
	color: #66ffb3;
}

nav {
	text-align: center;
	padding: 7px 0;
	min-width: 80em;
}

/* list of categories */
nav ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
}

/* Categories */
nav ul li {
	display: inline-block;
	position: relative;
	width: 140px;
	min-width: 100px;
	border-radius: 3px;
}

.dropdown {
	background-color: #1a1a1a; /*rgb(20, 20, 20);*/
	margin: 0px;
	padding-top: 15px;
	padding-bottom: 15px;
	color: white;
	font-size: 16px;
}

.dropdown:hover {
	cursor: pointer;
	background-color: rgb(27, 27, 27);
}

/* Sub menus */
nav li ul {
	position: absolute;
	left: 0;
	top: 50px;
	width: 140px;
	min-width: 100px;
}

.sub-menu {
	/*background-color: rgb(45, 45, 45);*/
	padding: 0px;
	padding-top: 0px;
	padding-bottom: 15px;
	font-size: 14px;
	text-align: center;
	min-width: 100px;
}

/* elements of sub menus */
nav li li {
	position: relative;
	margin-bottom: 0px;
	display: inline-block;
	padding: 0px;
	padding-top: 10px;
	padding-bottom: 10px;
	width: 100%;

	border-radius: 0px;

	background-color: rgb(50, 50, 50);
}

nav li li:hover {
	background-color: #404040;
}

nav a, nav a:visited {
	color: rgb(220, 220, 220);
	text-decoration: none;
}

nav a:hover,
nav a:focus,
nav a:active {
    color: #ffffff;
}

nav ul.sub-menu {
    display:none;
}

nav {
	background-color: #333333;

	/* make all text non-selectable */
	-webkit-user-select: none;  /* Chrome all / Safari all */
	-moz-user-select: none;     /* Firefox all */
	-ms-user-select: none;      /* IE 10+ */
	user-select: none;          /* Likely future */ 
}