body {
	font-family: 'Ubuntu', sans-serif;
	color: rgb(200, 200, 200);
	background-color: rgb(30, 30, 30);

	padding: 10px;

}

h1 {
	font-size: 40px;

	text-shadow: 5px 3px #000000;
}

p {
	font-size: 17px;
}


#github {
	background-color: rgb(50, 50, 50);
	font-family: 'Ubuntu', sans-serif;
	border:none;
	width: 60px;
	height: 30px;
	color: rgb(200, 200, 200);
}
