
button {
	background-color: rgb(100, 100, 100);
	border: none;
	width: 150px;
	height: 50px;
	color: rgb(220, 220, 220);
	font-size: 25px;
	margin-bottom: 20px;
	margin-top: 20px;
	font-family: 'Share Tech Mono', monospace;
}

#guess {
	font-size: 40px;
}

progress {
	width: 35%;
	height: 30px;
	margin-right: 10px;
	margin-left: 5px;

	border: none;
	background-color: rgb(90, 90, 90);
}

progress::-moz-progress-bar { background: rgb(26, 163, 255); }

progress::-webkit-progress-value { background: rgb(26, 163, 255); }

#classifications {
	font-size: 25px;
	margin-top: 20px;
}

body {
	font-family: 'Share Tech Mono', monospace;
	background-color: rgb(50, 50, 50);
	color: rgb(220, 220, 220);
	-webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome and Opera */

    line-height: 40px;
}

a:link, a:visited {
	color: rgb(240, 240, 240);
	font-weight: bold;
}

#about {
	position: fixed;
	left: 0;
	bottom: 0;
	font-size: 40px;
	padding: 10px;
}

.tooltip {
    position: relative;
    display: inline-block;
}

.tooltip .tooltiptext {
    visibility: hidden;
    width: 500px;
    background-color: rgba(0, 0, 0, 0.6);
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;

    /* Position the tooltip */
    position: absolute;
    z-index: 1;

    top: 105%;
    left: 25%;
}

.tooltip:hover .tooltiptext {
    visibility: visible;
}