<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
		<script type="text/javascript" language="javascript" src="https://cdnjs.cloudflare.com/ajax/libs/p5.js/0.5.8/p5.js"></script>
		<script type="text/javascript" language="javascript" src="https://cdnjs.cloudflare.com/ajax/libs/p5.js/0.5.8/addons/p5.dom.js"></script>
		<script type="text/javascript" language="javascript" src="wolfram.js"></script>
		<style>
			div {
				font-size: 13px;
				font-family: verdana;
			}
		</style>
	</head>
	<body>
		<div>
			Ruleset <input type="text" id="ruleset" placeholder="30">
			Delay (ms) <input type="text" id="delay" placeholder="15">
			Scale <input type="text" id="scale" placeholder="1500">
		</div>

	</body>
</html>