<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
  <script type="text/javascript" language="javascript" src="https://cdnjs.cloudflare.com/ajax/libs/p5.js/0.5.8/p5.js"></script>
  <script type="text/javascript" language="javascript" src="https://cdnjs.cloudflare.com/ajax/libs/p5.js/0.5.8/addons/p5.dom.js"></script>
  <script language="javascript" type="text/javascript" src="mazeClass.js"></script>
  <script language="javascript" type="text/javascript" src="dfs.js"></script>

  <link rel="stylesheet" type="text/css" href="DFS_CSS.css">
  <style> body {padding: 0; margin: 0;} </style>
</head>

<body>
	<div id="container">
		<div>
		Speed <input type="range" min="1" max="50" value="2" id="speed">
		Size <input type="range" min="-30" max="-2" value="-10" id="size">
		</div>
	</div>

</body>
</html>