<!DOCTYPE html>
<html>
	<head>
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.0/jquery.min.js"></script>
		<script type="text/javascript" language="javascript" src="https://cdnjs.cloudflare.com/ajax/libs/p5.js/0.5.8/p5.js"></script>
		<script type="text/javascript" language="javascript" src="https://cdnjs.cloudflare.com/ajax/libs/p5.js/0.5.8/addons/p5.dom.js"></script>
		<script type="text/javascript" language="javascript" src="hanoi.js"></script>
		<script type="text/javascript" language="javascript" src="graphics.js"></script>

		<link rel="stylesheet" type="text/css" href="style.css">
	</head>
	<body>
		<div>
			<button id="run">Run</button><br>
			<button id="end">End</button><br>
			N: <input id="n" type="text" size="4"> <span id="current"></span><br>
			Delay (ms): <input id="delay" type="text" size="4"><br>
			<span id="moves"></span>
		</div>
	</body>
</html>