<!DOCTYPE html>
<html>
	<head>
		<title>Towers of Hanoi | castleman.space</title>
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.0/jquery.min.js"></script>
		<script type="text/javascript" language="javascript" src="https://cdnjs.cloudflare.com/ajax/libs/p5.js/0.5.8/p5.js"></script>
		<script type="text/javascript" language="javascript" src="https://cdnjs.cloudflare.com/ajax/libs/p5.js/0.5.8/addons/p5.dom.js"></script>
		<script type="text/javascript" language="javascript" src="hanoi.js"></script>
		<script type="text/javascript" language="javascript" src="graphics.js"></script>

		<link rel="stylesheet" type="text/css" href="style.css">

		<!-- favicons -->
		<link rel="apple-touch-icon" sizes="180x180" href="/favicons/apple-touch-icon.png">
		<link rel="icon" type="image/png" sizes="32x32" href="/favicons/favicon-32x32.png">
		<link rel="icon" type="image/png" sizes="16x16" href="/favicons/favicon-16x16.png">
		<link rel="manifest" href="/favicons/site.webmanifest">
		<link rel="mask-icon" href="/favicons/safari-pinned-tab.svg" color="#5bbad5">
		<link rel="shortcut icon" href="/favicons/favicon.ico">
		<meta name="msapplication-TileColor" content="#da532c">
		<meta name="msapplication-config" content="/favicons/browserconfig.xml">
		<meta name="theme-color" content="#ffffff">
	</head>
	<body>
		<div>
			<button id="run">Run</button><br>
			<button id="end">End</button><br>
			N: <input id="n" type="text" size="4"> <span id="current"></span><br>
			Delay (ms): <input id="delay" type="text" size="4"><br>
			<span id="moves"></span>
		</div>
	</body>
</html>