<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>About Me | castleman.space</title>
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.0/jquery.min.js"></script>
		<link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet">
		<link rel="stylesheet" type="text/css" href="style.css">
		<script type="text/javascript" src="toggle.js"></script>

		<!-- favicons -->
		<link rel="apple-touch-icon" sizes="180x180" href="/favicons/apple-touch-icon.png">
		<link rel="icon" type="image/png" sizes="32x32" href="/favicons/favicon-32x32.png">
		<link rel="icon" type="image/png" sizes="16x16" href="/favicons/favicon-16x16.png">
		<link rel="manifest" href="/favicons/site.webmanifest">
		<link rel="mask-icon" href="/favicons/safari-pinned-tab.svg" color="#5bbad5">
		<link rel="shortcut icon" href="/favicons/favicon.ico">
		<meta name="msapplication-TileColor" content="#da532c">
		<meta name="msapplication-config" content="/favicons/browserconfig.xml">
		<meta name="theme-color" content="#ffffff">
	</head>
	<body>
		<div id="title-container">
			<div id="bio">
				<h1 id="main-title">About Me</h1>
				<h3>Thomas Castleman</h3>
				<p>Hi! I am currently an undergraduate at Brown University studying computer science. My interests include jazz, computational art, and linguistics.</p>

				<p>See my <a href="https://github.com/thomascastleman" target="_blank">GitHub profile</a> for most of my public software projects.</p>

				<h3>This Site</h3>
				<p>This website contains many of my excursions in computational art and visualization. This includes cellular automata, visually-pleasing mathematical structures, and algorithms.</p>

				<p>Almost all of the graphics on this site were created with the <a href="https://p5js.org/" target="_blank">p5.js library.</a></p>
			</div>
			<img id="portrait" width="270" src="media/profile_imgs/id-photo.jpg">
			<!-- <img id="portrait" width="310" src="media/whiteboard.png"> -->
		</div>

		<ul class="all-categories">
			<li class="category">
				<h2 class="cat-title">Projects</h2>
				<ul class="category-list" hidden>
					<li>
						<h3>Low Poly Images<span class="date">(2019-20)</span></h3>
						<p>In April 2019 I started working on a script to convert images into their low poly form, as seen below:</p>
						<center><a href="media/boarshead.png" target="_blank"><img width="50%" src="media/boarshead.png"></a></center>
						<p>This process creates an approximation using colored triangles that form a mesh spanning the entire dimensions of the source image. The technique I devised to accomplish this is described below:</p>
						<ol>
							<li>A set of points is laid over the image, with clusters of more points in areas where more detail occurs. (This is accomplished using <a href="http://datastructur.es/sp16/materials/hw/hw5/hw5.html" target="_blank">dual-gradient energy</a> and placing points probabilistically based on the amount of energy at a given pixel)</li>
							<li>A <a href="https://en.wikipedia.org/wiki/Delaunay_triangulation" target="_blank">Delaunay triangulation</a> is generated from this point set (using the Bowyer-Watson algorithm).</li>
							<li>The triangulation is then colored by first blurring the source image, then using the color of the pixel at each triangle's centroid to color that triangle. This has an effect similar to averaging the colors of the pixels contained within each triangle.</li>
						</ol>

						<center><a href="media/arch-poly.png" target="_blank"><img id="arch-low-poly" width="50%" src="media/arch-poly.png"></a></center>

						<p>The source for this project can be found <a href="https://github.com/thomascastleman/low-poly" target="_blank">here.</a></p>
						<p>A gallery of low poly images generated with this script is now available at <a href="/lowpoly">this page</a>.</p>

						<p>I have also finished a working version of this image processor on the web, which allows you to upload your own images and turn them into low poly versions. This can be found at <a href="http://lowpoly.castleman.space">lowpoly.castleman.space</a></p>
					</li>
					<li>
						<h3>Harmoniser<span class="date">(2018-19)</span></h3>
						<p>In late 2018, I came to Johnny with a project idea quite different from anything I'd done in the past: an audio processor to harmonize live vocals with the notes specified by a MIDI controller. I took inspiration from the harmoniser built for Jacob Collier, which was created at MIT by <a href="https://ben.ai/" target="_blank">Ben Bloomberg</a>.</p>

						<div style="width:image width px; font-size:80%; text-align:center;">
							<img src="media/psolawave.jpeg" width="50%" style="padding-bottom:0.5em;"/><br>
							<span>A vocal sample visualized with a script we used to test our peak finding algorithm</span>
						</div>
						
						<p>Our harmoniser, the source for which can be found <a href="https://github.com/Castleman-Lindbergh/harmoniser" target="_blank">here</a>, interfaces with a microphone and MIDI keyboard. Analyzing the audio from the mic, it detects the pitch. Using this estimate, it makes a copy of the audio signal for each of the notes coming through the MIDI keyboard, and pitch shifts these copies (using a technique called Pitch Synchronous Overlap and Add) to the corresponding frequency of those MIDI notes. These separate signals are then all averaged back together into one, which is played back.</p>

						<p>The result is a really interesting layered vocal track that matches the notes held on the MIDI keyboard. I'm working on getting a video demo of this, which I'll put up here as soon as I can.</p>
					</li>
					<li>
						<iframe src="http://docs.google.com/gview?url=http://castleman.space/portfolio/media/An_Algorithm_for_the_Interpretation_of_Jazz_Harmony.pdf&embedded=true" style="width:718px; height:700px;" frameborder="0"></iframe>
						<h3>Harmonic Interpreter<span class="date">(2018)</span></h3>
						<p>In an effort to create music visualizations that are sensitive to the qualities of the harmony being played, I embarked on a journey to algorithmically classify sets of notes based on their harmonic qualities.</p>
						<p>The above paper details my approach, which involves interpreting the notes with every possible root, and then scoring each interpretation based on the presence or absence of certain intervals, the importance of which is specified in the parameters of the interpreter.</p>

						<div style="width:image width px; font-size:80%; text-align:center; margin-bottom: 10px;">
							<video width="70%" controls>
								<source src="media/interpreter.mp4" type="video/mp4">
								Your browser does not support the video tag.
							</video><br>
							<span>A demo of live chord interpretation using my algorithm</span>
						</div>
						<p>I have already implemented a Processing sketch which takes MIDI input from a keyboard and displays all twelve interpretations, which can be found <a href="https://github.com/thomascastleman/midi-harmony-interpreter" target="_blank">here</a>. I plan to use this technology to design visualizations that respond to the intricacies of the harmony being played.</p>
					</li>
					<li>
						<iframe width="700" height="396" src="https://www.youtube.com/embed/RUCuv3brSZ4" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
						<h3>Markov Chain applied to Melodic Composition<span class="date">(2017)</span></h3>
						<p>As part of the same technology, music, and visual art course mentioned above, I wrote another piece of software to integrate music and computation, this time using a model known as a Markov Chain to compose melodies based on live training data.</p>
					</li>
					<li>
						<iframe width="700" height="396" src="https://www.youtube.com/embed/HsaM2_T5feE" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
						<h3>Live Music Visualizer<span class="date">(2018)</span></h3>
						<p>In November of 2018, I was involved in a 3-week long course focused on technology, music, and visual art, during which I created this piece of software, which is capable of translating input from an electronic musical instrument into a visual display of colors and shapes. The project took shape over several days and I documented my progress through video clips which I have pieced together for your viewing. In the final clip, I play Debussy's <i>Clair de Lune</i> visualized with one of my favorite configurations.</p>
					</li>
					<li>
						<h3>Character Recognition<span class="date">(2018)</span></h3>
						<p>As my friend Johnny Lindbergh completed research on the use of neural networks in machine learning for his senior capstone research project, we decided to experiment with building a simple neural network from the ground up--mostly to test our understanding of the math taking place in algorithms such as gradient descent.</p>

						<p>The result of our labors is <a href="https://github.com/thomascastleman/fancy-regression" target="_blank">this network,</a> a digit classifier capable of recognizing handwritten digits with 89.1% accuracy, written entirely from scratch. This project deeply improved my understanding of both the C language and the calculus used in backpropagation. While there are certainly many improvements / optimizations that could be made to this network, it served its purpose of laying the foundations of my understanding of machine learning methods.</p>

						<center><img width="90%" src="media/digitclassifier.png"></center>

						<p>To visualize the network's capabilities, I wrote a p5.js sketch (shown above) to take handwritten input, pass it through the net, and display the classification output vector. This demo can be found <a href="http://castleman.space/ocr/" target="_blank">here</a>.</p>
					</li>
					<li>
						<center><img width="90%" src="media/overflow.png"></center>
						<h3>StabOverflow<span class="date">(2018)</span></h3>
						<p>In August of 2018, I deployed <a href="https://github.com/thomascastleman/StabOverflow" target="_blank">StabOverflow</a>, an online Q&amp;A forum for CS students at St. Anne's-Belfield. Modeled after the widely-used Stack Overflow, StabOverflow allows students to ask questions, make comments, and respond with answers to CS-related problems. The idea was to facilitate interaction between members of the CS department across class / grade levels, and to construct, over time, a cumulative resource for all CS students to reference.</p>
						<p>The live application can be found at <a href="http://overflow.cs.stab.org/" target="_blank">overflow.cs.stab.org</a></p>
					</li>
				</ul>
			</li>
			<li class="category">
				<h2 class="cat-title">Music</h2>
				<ul class="category-list" hidden>
					<li>
						<h3>SoundCloud<span class="date">(2019-present)</span></h3>
						<div style="width:image width px; font-size:80%; text-align:center;">
							<img src="media/nord.jpeg" width="50%" style="padding-bottom:0.5em;"/><br>
							<span>The Nord alongside the harmoniser I created with friend Johnny Lindbergh</span>
						</div>
						<p>I've begun to publish music that I've recorded over the years on <a href="https://soundcloud.com/thomas-castleman-506103888" target="_blank">my SoundCloud account</a>. I've been a drummer for 10 years and have cultivated an interest in jazz through playing piano, an instrument first introduced to me by my dad many years ago. Some of my main musical influences include Oscar Peterson, Bill Evans, and Brad Mehldau.</p>
					</li>
				</ul>
			</li>
			<li class="category">
				<h2 class="cat-title">Writing</h2>
				<ul class="category-list" hidden>
					<li>
						<h3>Essays on Jazz<span class="date">(2019)</span></h3>
						<p>These are from a series of essays I wrote during the summer of 2019 while under the instruction of John D'earth for a UVA Summer Session class entitled <i>Hearing as Jazz Musicians Hear</i>.</p>

						<h4>The Impermanence of Musical Taste</h4>
						<iframe src="http://docs.google.com/gview?url=http://castleman.space/portfolio/media/impermanence-of-musical-taste.pdf&embedded=true" style="width:718px; height:700px;" frameborder="0"></iframe>

						<h4>Fidelity and Freedom</h4>
						<iframe src="http://docs.google.com/gview?url=http://castleman.space/portfolio/media/fidelity-and-freedom.pdf&embedded=true" style="width:718px; height:700px;" frameborder="0"></iframe>
					</li>

					<li>
						<h3>Snowflake Fractals: L-R flakes<span class="date">(2018)</span></h3>

						<p>In early 2018, I wrote this paper to present a generalization of the well-known <a href="https://en.wikipedia.org/wiki/Koch_snowflake" target="_blank">Koch snowflake</a>, a fractal with infinite perimeter and finite area. The paper mainly deals with the convergent (or divergent) area of these generalized flakes.</p>

						<iframe src="http://docs.google.com/gview?url=http://castleman.space/portfolio/media/snowflake-fractal-paper.pdf&embedded=true" style="width:718px; height:700px;" frameborder="0"></iframe>

						<p>Also, check out <a href="/lrflakes">this interactive demo</a> of these flakes.</p>
					</li>
					<li>
						<iframe src="http://docs.google.com/gview?url=http://castleman.space/portfolio/media/bebop-the-revolution.pdf&embedded=true" style="width:718px; height:700px;" frameborder="0"></iframe>
						<h3>Research Paper: Bebop<span class="date">(2018)</span></h3>
						<p>Inspired by my love of jazz music and culture, this research paper on the rise of bebop examines the racial, social, and economic implications of modern jazz and its function within broader jazz evolution.</p>
					</li>
				</ul>
			</li>
			<li class="category">
				<h2 class="cat-title">Miscellaneous</h2>
				<ul class="category-list" hidden>
					<li>
						<iframe width="700" height="396" src="https://www.youtube.com/embed/DcMOz6jlMfQ" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
						<h3>Speedcubing<span class="date">(2013-present)</span></h3>
						<p>Solving Rubik's Cubes for speed is a hobby of mine, in addition to being something that brings me calm. I happened to catch my 3x3 PR of 11.85 seconds on video, as seen in this clip. Over the years, I've participated in several cubing competitions, competing in 2x2, 3x3, 4x4, and 3x3 one-handed.</p>

						<p>My World Cube Association profile is <a href="https://www.worldcubeassociation.org/persons/2013CAST01" target="_blank">here</a> if anyone is curious.</p>
					</li>
				</ul>
			</li>
		</ul>
		<div id="last-update-cont">
			<span id="last-update">Last Updated - February 2020</span>
		</div>
	</body>
</html>
