
body {
	padding: 0;
	margin: 0;
}

* {
	font-family: 'Montserrat', sans-serif;
	color: white;
}

ul {
	list-style: none;
}

.all-categories {
	width: 70%;
	margin: auto;
	margin-bottom: 70px;
	clear: both;
}

.category {
	background-color: #404040;
	padding: 15px;
	margin: 10px;
	border-radius: 10px;
}

iframe {
	display: block;
	margin: auto;
}

p {
	font-size: 15px;
}

audio {
	width: 70%;
}

a, a:visited {
	/*color: #0099ff;*/
	color: #4dff4d;
	font-weight: bold;
}

#title-container {
	width: 65%;
	margin: auto;
}

h1, h2 {
	/*color: #0099ff;*/
	color: #4dff4d;
}

body {
	background-color: #262626;
}

#main-title {
	font-size: 55px;
}

#portrait {
	border-radius: 5px;
	margin: 10px;
	margin-top: 40px;
	float: right;
}

#title-container > * {
	display: inline-block;
}

#bio {
	width: 50%;
}

.category-list {
	overflow: hidden;
}

.category-list > li {
	background-color: #595959;
	padding: 3px;
	padding-left: 10px;
	border-radius: 5px;
}

.cat-title:hover {
	cursor: pointer;
	color: #80ff80;
}