
@import 'https://fonts.googleapis.com/css?family=PT+Sans';

body {
	padding: 0;
	margin: 0;
}

* {
	font-family: 'PT Sans', sans-serif;
	color: white;
}

ul {
	list-style: none;
}

.all-categories {
	width: 65%;
	margin: auto;
	clear: both;
}

.category {
	background-color: #404040;
	padding: 15px;
	margin: 10px;
	border-radius: 10px;
}

iframe {
	display: block;
	margin: auto;
}

p {
	font-size: 15px;
}

ol {
	font-size: 15px;
}

audio {
	width: 70%;
}

a, a:visited {
	/*color: #0099ff;*/
	color: #66ffb3;
	font-weight: bold;
}

#title-container {
	width: 60%;
	margin: auto;
}

h1, h2, h3 {
	/*color: #0099ff;*/
	color: #66ffb3;
	user-select: none;
}

.cat-title:hover {
	cursor: pointer;
	color: #99ffcc;
}

body {
	background-color: #262626;
}

#main-title {
	font-size: 55px;
}

#portrait {
	border-radius: 5px;
	margin: 10px;
	margin-top: 40px;
	float: right;
}

#title-container > * {
	display: inline-block;
}

#bio {
	width: 50%;
}

.category-list {
	overflow: hidden;
}

.category-list > li {
	background-color: #595959;
	padding: 15px;
	padding-left: 10px;
	margin-bottom: 10px;
	border-radius: 5px;
}

.date {
	color: #a6a6a6;
	font-size: 15px;
	margin-left: 5px;
}

#last-update-cont {
	text-align: center;
	padding-top: 40px;
	padding-bottom: 20px;
}

#last-update {
	color: #a6a6a6;
	font-size: 12px;
	margin: auto;
}

#arch-low-poly {
	margin-top: 20px;
}