
@import 'https://fonts.googleapis.com/css?family=PT+Sans';

html {
  background: url('media/blur_cit.jpg') no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

body {
	padding: 0;
	margin: 0;
	/* background-color: #262626; */
}

* {
	font-family: 'PT Sans', sans-serif;
	color: white;
}

ul {
	list-style: none;
}

.all-categories {
	width: 65%;
	margin: auto;
	clear: both;
}

.category {
	background-color: rgb(64, 64, 64, 0.8);
	padding: 15px;
	margin: 10px;
	border-radius: 10px;
}

.category:hover {
	background-color: rgb(67, 67, 67, 0.85);
}

iframe {
	display: block;
	margin: auto;
}

p {
	font-size: 15px;
}

ol {
	font-size: 15px;
}

audio {
	width: 70%;
}

a, a:visited {
	/*color: #0099ff;*/
	color: #66ffb3;
	font-weight: bold;
}

#title-container {
	width: 60%;
	margin: auto;
}

h1, h2, h3 {
	/*color: #0099ff;*/
	color: #66ffb3;
	user-select: none;
}

.cat-title:hover {
	cursor: pointer;
	color: #99ffcc;
}

#main-title {
	font-size: 55px;
}

#portrait {
	border-radius: 5px;
	margin: 10px;
	margin-top: 40px;
	float: right;
	box-shadow: 0 0 20px #000;
}

#title-container > * {
	display: inline-block;
}

#bio {
	width: 50%;
	text-shadow: 0 0 14px #333;
	min-width: 250px;
}

.category-list {
	overflow: hidden;
}

.category-list > li {
	background-color: #595959;
	padding: 15px;
	padding-left: 10px;
	margin-bottom: 35px;
	border-radius: 5px;
}

.date {
	color: #a6a6a6;
	font-size: 15px;
	margin-left: 5px;
}

#last-update-cont {
	text-align: center;
	padding-top: 40px;
	padding-bottom: 20px;
}

#last-update {
	color: #a6a6a6;
	font-size: 12px;
	margin: auto;
}

#arch-low-poly {
	margin-top: 20px;
}

/* On screens that are 600px wide or less, the background color is olive */
@media screen and (max-width: 1020px) {
	#portrait {
		display: none;
	}
}